ENV=DEV_LOCAL
SECRET_KEY=django-insecure-changemechangemechangemechangemechangemechangeme

# Disable HTTPS redirects for local development
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_SESSION_COOKIE_SECURE=False
DJANGO_CSRF_COOKIE_SECURE=False

DJANGO_DB_HOST=localhost
DJANGO_DB_NAME=salesiq
DJANGO_DB_USER=postgres
DJANGO_DB_PASSWORD=postgres
DJANGO_DB_PORT=5432
REDIS_URL=redis://localhost:6379
