// Primary colors
$primary: #00C898
$primary-1: #CCF4EA
$primary-2: #00D498
$primary-3: #01D296
$primary-4: #00D404

$dark: #2A2A2A
$dark-1: #595D61
$dark-2: #B2B2B2
$dark-3: #E3E2E0
$dark-4: #EAEAEA

$weband: #bd45ff

// Brand shade
$shade: #8296A11A
$dark-green: #006E4F

// DEFAULT
$black: #000
$black-st: rgba(0, 0, 0, .65)
$light-gray: #B5B5B5
$light-gray-2: #B8B8B8
$gray: #818181
$grey-2: #F9F9F9
$white: #FFFFFF
$red: #FF4F4F
$yellow: #FFF442
$scrollbar: #D9D9D9
$table-border-dashed: #09A578
$table-red: #EA3B3B
$dark-red: #581616
$negotiation-background: #828282
$negotiation-border: #5B5B5B
$clear: #308970
$production-hover: #9FEED8
$purple-bar: #8B0090
$purple-bar-gradient: #F387F6
$green-bar-gradient: #00624A
$tool-text: #404040
$ratio-bar: #FBC797
$ratio-border: #DF7613
$blue-border: #0173ff
$blue: #3c93ff
$gray-modal-text: #5F5F5F
$gray-modal-sent: #D3D3D3
$warning-border: #FFC25B
$warning-gradient: #FFD601

$success: #24C979
$warning: #B1910A
$error: #EF1B1B
$letter: #72E6C5

// States
$link-hover: #79D0FF
$link-pressed: #AEE2FF
$hover-checked: #00B07A

// Progress
$green-bar: linear-gradient(168deg, rgba(0, 110, 79, 1) 0%, rgba(0, 212, 152, 1) 100%)
$yellow-bar: linear-gradient(168deg, rgba(255, 214, 0, 1) 0%, rgba(255, 248, 74, 1) 100%)
$red-bar: linear-gradient(168deg, rgba(184, 13, 13, 1) 0%, rgba(255, 79, 79, 1) 100%)

// Sizes
$size-9: 0.5625rem  // **-- 9px --** \\
$size-10: 0.625rem  // **-- 10px --** \\
$size-12: 0.75rem   // **-- 12px --** \\
$size-14: 0.875rem  // **-- 14px --** \\
$size-16: 1rem      // **-- 16px --** \\
$size-18: 1.125rem  // **-- 18px --** \\
$size-20: 1.25rem   // **-- 20px --** \\
$size-24: 1.5rem    // **-- 24px --** \\
$size-25: 1.56rem   // **-- 25px --** \\
$size-28: 1.75rem   // **-- 24px --** \\
$size-30: 1.875rem  // **-- 30px --** \\
$size-32: 2rem      // **-- 30px --** \\
$size-35: 2.17rem   // **-- 35px --** \\
$size-36: 2.25rem   // **-- 36px --** \\
$size-40: 2.5rem    // **-- 40px --** \\
$size-44: 2.75rem   // **-- 44px --** \\
$size-45: 2.81rem   // **-- 45px --** \\
$size-50: 3.125rem  // **-- 50px --** \\
$size-56: 3.5rem    // **-- 56px --** \\
$size-60: 3.75rem   // **-- 60px --** \\

$text-shadow-bold: 0 0 .65px currentColor, 0 0 .65px currentColor
