@use '../utils/_variables' as *
@use '../utils/_mixins' as *
@use '../utils/_media' as *
body
    font-family: "Bricolage Grotesque", sans-serif
    font-optical-sizing: auto
    color: $dark
    font-size: $size-16

.link
    cursor: pointer
    text-decoration: none
    color: $dark

.link--primary
    color: $primary

.link--white
    color: $white

.link--primary-hover
    position: relative
    transition: color 120ms linear

    &:hover
        color: $primary

        &::after
            clip-path: inset(0%)

    &::after
        content: ""
        height: 2px
        background-color: $primary
        width: 100%
        position: absolute
        bottom: -1px
        left: 0
        clip-path: inset(0 50%)
        transition: clip-path 120ms linear


:is(h1, h2, h3, h4)
    font-weight: bold

h1
    font-weight: 900
    font-style: normal
    font-size: clamp($size-36, 6vw, $size-56)
    line-height: 1.2

h2
    font-size: clamp($size-32, 6vw, $size-44)
    line-height: 1.2
    font-weight: 600

h3
    font-size: clamp($size-28, 3vw, $size-36)
    line-height: 1.2
    font-weight: 600

h4
    font-size: clamp($size-24, 3vw, $size-24)
    line-height: 1.2
    font-weight: 500

h5
    font-size: $size-20
    line-height: 1.2
    font-weight: 500

h6
    color: $dark-2
    font-size: $size-18
    line-height: 1.2
    font-weight: 400

.page-title
    margin-top: 35px
    font-weight: normal
    color: $primary

p,
a,
span
    line-height: 1.5

.text--xxl
    font-size: $size-30 !important

.text--xl
    font-size: $size-20 !important

.text--lg
    font-size: $size-18 !important

.text--reg
    font-size: $size-16 !important

.text--mid
    font-size: $size-14 !important

.text--sml
    font-size: $size-12 !important

.text--primary
    color: $primary !important

.text--white
    color: white !important

.text--black
    color: $dark !important

.text--error
    color: $red !important

.text--success
    color: $success !important

.text--gray
    color: $dark-2 !important

.text--normal
    font-weight: normal !important

.text--bold
    font-weight: bold !important

.text--italic
    font-style: italic

.text--crossed
    text-decoration: line-through

.text--underline
    text-decoration: underline
    text-underline-offset: 4px

.text--balance
    text-wrap: balance

.text--center, .tac
    text-align: center !important

.ws-nowrap
    text-wrap: nowrap
    white-space: nowrap

.info-text
    color: $dark-1
    font-size: $size-14

.subtitle
    font-size: $size-14
    color: $dark-1
    font-weight: normal

small
    font-size: 0.8em
